.bph-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/images/DSC_1464.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.2);
    z-index: -1;
}

.year-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.animation-bar {
    width: 0%;
    height: 2px;
    background-color: var(--primary-500);
    transition: .3s ease-in-out !important;
}

.year-wrapper:hover .animation-bar {
    width: 100%;
}

.year-text {
    padding: var(--spacing-regular);
    color: var(--bg-500);
    transition: .15s ease-in-out !important;
}

.year-wrapper:hover .year-text {
    color: var(--primary-500);
}